VITE_WEATHER_API_KEY=97ff2968860e41f2889104430261904
VITE_QUOTES_API_KEY=your_rapidapi_key_here
VITE_QUOTES_API_HOST=famous-quotes4.p.rapidapi.com
VITE_QUOTES_API_URL=https://famous-quotes4.p.rapidapi.com/random?category=all&count=1
